@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
/*Codigo para dar colores globales o root como se les llama en css*/
:root{
    --fros-blue-color: #0050d5;
    --light-blue-color: #16c5ff;
    --dark-color: #202020;
    --light-gray: #dedede;
    --dark-gray: #a1a1a0;
    --light-color: #fff;
    --poppins-font: 'Poppins', sans-serif;
    --transition: all 0.3s ease-in-out;
    --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2)!important;
} /*Fin de los colores globales*/

/*Css para darle estilo a la tarjeta del 1er plan-normal*/

.btn-pNormal{
    background-color: white;
    height: 40px;
    width: 45%;
    border-radius: 9px;
}
.container-subs-elements{
    background-color: rgb(248, 248, 248);
    padding-top: 10px;
    margin-top: -155px;
}
.text-sub-1{
    font-family: 'Quicksand', sans-serif;
    font-size: 2.2rem;
    font-weight:600;
    color: #0050d5;
    margin-left: 460px;
    position: relative;
}
.text-sub-2{
    position: relative;
    margin-left: 0.5rem;
    color: #4e89e7;
}
.container-text-subs{
    margin-top: 70px;
}
.titulo-sub-1{
    margin-top: 10px;
    font-family: var(--poppins-font);
    font-weight: bold;
    margin-left: 375px;
    font-size: 4rem;
}
.text-sub-3{
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 1.8rem;
    margin-left: 450px;
    margin-top: -10px;
}
.text-sub-4{
    font-family: 'Nunito', sans-serif;
    font-size: 1.7;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgba(46, 46, 46, 0.679);
}
.hidden {
    display: none; /* Oculta el texto inicialmente */
}

  
  .container .tab {
    position: relative;
    background: #fff;
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    overflow: hidden;
  }
  .container .tab input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .container .tab input:checked ~ label::after {
    content: "+";
    color: #fff;
    transform: rotate(135deg);
  }
  .container .tab input:checked ~ label h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.2);
    font-size: 8em;
    justify-content: flex-end;
    padding: 20px;
  }
  .container .tab input:checked ~ label h3 {
    background: #fff;
    padding: 2px 10px;
    color: #333;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  }
  .container .tab input:checked ~ .content {
    max-height: 100vh;
    transition: 1s;
  }
  .container .tab input:checked ~ .content p {
    color: #fff;
  }
  .container .tab label {
    display: inline-block;
    display: flex;
    margin-bottom: 0px;
    align-items: center;
    cursor: pointer;
  }
  .container .tab label::after {
    content: "+";
    position: absolute;
    right: 20px;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.1);
    transition: transform 1s;
  }
  .container .tab label h2 {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.25em;
    border-radius: 5px;
    margin-right: 10px;
  }
  .container .tab label h3 {
    position: relative;
    font-weight: 500;
    color: #333;
    z-index: 10;
  }
  .container .tab:hover label::after {
    color: #333;
  }
  .container .tab .content {
    max-height: 0;
    overflow: hidden;
    transition: 1s;
  }
  .container .tab .content p {
    position: relative;
    padding: 10px 0;
    color: #333;
    z-index: 10;
  }
  .container .tab:nth-child(1) label h2 {
    background: linear-gradient(135deg, #3c8ce7 10%, #00eaff 100%);
  }
  .container .tab:nth-child(2) label h2 {
    background: linear-gradient(135deg, #803ce7 10%, #ff0037 100%);
  }
  .container-info-plan-pro{
    width: 75%;
    margin-left: 200px;
    margin-top: 40px;
}
.container-info-plan-avanzado{
    margin-top: 40px
}
.main-background-plan-normal{
    transition: .3s ease-in;
    background-color: rgb(255, 255, 255);
    width: 25%;
    height: 450px;
    margin-left: 80px;
    box-shadow: 0 0 15px #3c8ce767;
    border-radius: 8px;
    margin-top: 40px;
}
.titulo-plan-normal{
    transition: .3s ease-in;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    justify-self: center;
    display: flex;
    padding-top: 30px;
    font-size: 20px;
}
.precio-plan-normal{
    transition: .3s ease-in;
    font-family: var(--poppins-font);
    font-size: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5px;
}
.plan-normal-1{
    transition: .3s ease-in;
    font-family: 'Nunito', sans-serif;
    font-size: 23px;
    color: #3c8ce7;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -5px;
}
.plan-normal-2{
    transition: .3s ease-in;
    margin-left: 5px;
    color: #0050d5;
}
.beneficio-1-img{
    transition: .3s ease-in;
    width: 13px;
    height: 15px;
    margin-right: 15px;
}
.beneficio-1-normal{
    transition: .3s ease-in;
    margin-top: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.line-plan-normal
{
    transition: .3s ease-in;
    border-radius: 20%;
    width: 55%;
    margin-left: 80px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.695);
}
.beneficio-2-img{
    transition: .3s ease-in;
    width: 13px;
    height: 15px;
    margin-right: 15px;
}
.beneficio-2-normal{
    transition: .3s ease-in;
    margin-top: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.beneficio-3-img{
    width: 13px;
    transition: .3s ease-in;
    height: 15px;
    margin-right: 15px;
}
.beneficio-3-normal{
    transition: .3s ease-in;
    margin-top: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.btn-plan-normal{
    transition: .3s ease-in;
    margin-left: 90px;
    color: #0050d5;
    font-family: var(--poppins-font);
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #0050d5;
    width: 50%;
    height: 40px;
}
.main-background-plan-normal:hover{
    transition: .6s ease-in-out;
    background-color: #4e89e7;
    transform: scale(.97);

    .titulo-plan-normal{
        transition: .6s ease-in-out;
        color: white;
    }
    .precio-plan-normal{
        transition: .6s ease-in-out;
        color: white;
    }
    .plan-normal-1{
        transition: .6s ease-in-out;
        color: white;
    }
    .plan-normal-2{
        transition: .6s ease-in-out;
        color: rgba(255, 255, 255, 0.728);
    }
    .line-plan-normal{
        transition: .6s ease-in-out;
        background-color: rgba(255, 255, 255, 0.728);
    }
    .beneficio-1-img{
        transition: .6s ease-in-out;
        filter: invert(100%);
    }
    .beneficio-1-normal{
        transition: .6s ease-in-out;
        color: white;
    }
    .beneficio-2-img{
        transition: .6s ease-in-out;
        filter: invert(100%);
    }
    .beneficio-2-normal{
        transition: .6s ease-in-out;
        color: white;
    }
    .beneficio-3-img{
        transition: .6s ease-in-out;
        filter: invert(100%);
    }
    .beneficio-3-normal{
        transition: .6s ease-in-out;
        color: white;
    }
    .btn-plan-normal{
        transition: .6s ease-in-out;
        border-radius: 15px;
        background-color: white;
        border: 1px solid white;
    }
}
.btn-plan-normal:hover{
    transition: .5s ease-out;
    transform: scale(1.02);
}
.titulo-escoje-plan-normal{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.titulo-escoje-plan-normal-2{
    margin-left: 5px;
    color: #0050d5;
}
.line-escoje-plan{
    width: 30%;
    height: 4px;
    margin-left: 485px;
    background-color: #0050d5;
    margin-top: 5px;
    border-radius: 10px;
}
/*CSS para darle estilo a la tarjeta del plan pro*/
.main-background-plan-pro{
    transition: .3s ease-in;
    background-color: #4e89e7;
    width: 25%;
    height: 450px;
    margin-left: 525px;
    box-shadow: 0 0 15px #3c8ce767;
    border-radius: 8px;
    margin-top: -450px;
}
.titulo-plan-pro{
    transition: .3s ease-in;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    justify-self: center;
    display: flex;
    padding-top: 30px;
    font-size: 20px;
    color: white;
}
.precio-plan-pro{
    transition: .3s ease-in;
    font-family: var(--poppins-font);
    font-size: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5px;
    color: white;
}
.plan-pro-1{
    transition: .3s ease-in;
    font-family: 'Nunito', sans-serif;
    font-size: 23px;
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -5px;
}
.plan-pro-2{
    transition: .3s ease-in;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.574);
}
.line-plan-pro{
    transition: .3s ease-in;
    border-radius: 20%;
    width: 55%;
    margin-left: 80px;
    height: 4px;
    background-color: rgb(255, 255, 255);
}
.beneficio-1-img-pro{
    transition: .3s ease-in;
    width: 13px;
    filter: invert(100%);
    height: 15px;
    margin-right: 15px;
}
.beneficio-1-pro{
    transition: .3s ease-in;
    margin-top: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 25px;
    color: white;
}
.beneficio-2-img-pro{
    transition: .3s ease-in;
    width: 13px;
    filter: invert(100%);
    height: 15px;
    margin-right: 15px;
}
.beneficio-2-pro{
    transition: .3s ease-in;
    margin-top: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 25px;
    color: white;
}
.beneficio-3-img-pro{
    transition: .3s ease-in;
    width: 13px;
    filter: invert(100%);
    height: 15px;
    margin-right: 15px;
}
.beneficio-3-pro{
    transition: .3s ease-in;
    margin-top: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 25px;
    color: white;
}
.btn-plan-pro{
    transition: .3s ease-in;
    margin-left: 90px;
    color: #0050d5;
    font-family: var(--poppins-font);
    font-weight: bold;
    font-size: 18px;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    height: 40px;
}
.main-background-plan-pro:hover{
    transition: .6s ease-in-out;
    transform: scale(.97);
    background-color: white;

    .titulo-plan-pro{
        transition: .6s ease-in-out;
        color: black;
    }
    .precio-plan-pro{
        transition: .6s ease-in-out;
        color: black;
    }
    .plan-pro-1{
        transition: .6s ease-in-out;
        color: #3c8ce7;
    }
    .plan-pro-2{
        transition: .6s ease-in-out;
        color: #0050d5;
    }
    .line-plan-pro{
        transition: .6s ease-in-out;
        background-color: rgba(0, 0, 0, 0.728);
    }
    .beneficio-1-img-pro{
        transition: .6s ease-in-out;
        filter: invert(0%);
    }
    .beneficio-1-pro{
        transition: .6s ease-in-out;
        color: black;
    }
    .beneficio-2-img-pro{
        transition: .6s ease-in-out;
        filter: invert(0%);
    }
    .beneficio-2-pro{
        transition: .6s ease-in-out;
        color: black;
    }
    .beneficio-3-img-pro{
        transition: .6s ease-in-out;
        filter: invert(0%);
    }
    .beneficio-3-pro{
        transition: .6s ease-in-out;
        color: black;
    }
    .btn-plan-pro{
        transition: .6s ease-in-out;
        border: 1px solid #0050d5;
        border-radius: 0%;
    }
}
.btn-plan-pro:hover{
    transition: .5s ease-out;
    transform: scale(1.02);
}
/*css para hacer el estilo de la tarjeta del plan avanzado*/
.main-background-plan-avanzado{
    transition: .3s ease-in;
    background-color: white;
    width: 25%;
    height: 450px;
    margin-left: 960px;
    box-shadow: 0 0 15px #3c8ce767;
    border-radius: 8px;
    margin-top: -450px;
}
.titulo-plan-avanzado{
    transition: .3s ease-in;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    justify-self: center;
    display: flex;
    padding-top: 30px;
    font-size: 20px;
}
.precio-plan-avanzado{
    transition: .3s ease-in;
    font-family: var(--poppins-font);
    font-size: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5px;
}
.plan-avanzado-1{
    transition: .3s ease-in;
    font-family: 'Nunito', sans-serif;
    font-size: 23px;
    color: #3c8ce7;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -5px;
}
.plan-avanzado-2{
    transition: .3s ease-in;
    margin-left: 5px;
    color: #0050d5;
}
.line-plan-avanzado{
    transition: .3s ease-in;
    border-radius: 20%;
    width: 55%;
    margin-left: 80px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.695);
}
.beneficio-1-img-avanzado{
    transition: .3s ease-in;
    width: 13px;
    height: 15px;
    margin-right: 15px;
}
.beneficio-1-avanzado{
    transition: .3s ease-in;
    margin-top: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.beneficio-2-img-avanzado{
    transition: .3s ease-in;
    width: 13px;
    height: 15px;
    margin-right: 15px;
}
.beneficio-2-avanzado{
    transition: .3s ease-in;
    margin-top: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.beneficio-3-img-avanzado{
    width: 13px;
    transition: .3s ease-in;
    height: 15px;
    margin-right: 15px;
}
.beneficio-3-avanzado{
    transition: .3s ease-in;
    margin-top: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.btn-plan-avanzado{
    transition: .3s ease-in;
    margin-left: 90px;
    color: #0050d5;
    font-family: var(--poppins-font);
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #0050d5;
    width: 50%;
    height: 40px;
}
.main-background-plan-avanzado:hover{
    transition: .6s ease-in-out;
    background-color: #4e89e7;
    transform: scale(.97);

    .titulo-plan-avanzado{
        transition: .6s ease-in-out;
        color: white;
    }
    .precio-plan-avanzado{
        transition: .6s ease-in-out;
        color: white;
    }
    .plan-avanzado-1{
        transition: .6s ease-in-out;
        color: white;
    }
    .plan-avanzado-2{
        transition: .6s ease-in-out;
        color: rgba(255, 255, 255, 0.728);
    }
    .line-plan-avanzado{
        transition: .6s ease-in-out;
        background-color: rgba(255, 255, 255, 0.728);
    }
    .beneficio-1-img-avanzado{
        transition: .6s ease-in-out;
        filter: invert(100%);
    }
    .beneficio-1-avanzado{
        transition: .6s ease-in-out;
        color: white;
    }
    .beneficio-2-img-avanzado{
        transition: .6s ease-in-out;
        filter: invert(100%);
    }
    .beneficio-2-avanzado{
        transition: .6s ease-in-out;
        color: white;
    }
    .beneficio-3-img-avanzado{
        transition: .6s ease-in-out;
        filter: invert(100%);
    }
    .beneficio-3-avanzado{
        transition: .6s ease-in-out;
        color: white;
    }
    .btn-plan-avanzado{
        transition: .6s ease-in-out;
        border-radius: 15px;
        background-color: white;
        border: 1px solid white;
    }
}
.btn-plan-avanzado:hover{
    transition: .5s ease-out;
    transform: scale(1.02);
}
.main-input-pago{
    width: 20%;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    transform: scale(1.5);
    margin-left: 560px;
    padding: 1rem;
}
.titulo-pago{
    font-family: var(--poppins-font);
    font-weight: bold;
    font-size: 30px;
    color: #0050d5;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
}
.text-subscribirte-nl-1{
    font-family: var(--poppins-font);
    margin-left: 100px;
    font-weight: bold;
    color: #0050d5;
    margin-top: 100px;
    font-size: 20px;
    width: 90%;
}
.text-subscribirte-nl-2{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #3c8ce7;
    font-size: 20px;
}
.container-btn-subscribirse-nl{
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 150px;
}
.btn-subscribirse-nl-1{
    transition: .2s ease-in;
    width: 15%;
    height: 40px;
    color: #0050d5;
    border: 2px solid #0050d5;
}
.btn-subscribirse-nl-1:hover{
    transition: .5s ease-out;
    transform: scale(1.02);
    background-color: #0052d530;
    color:white;
}
.btn-subscribirse-nl-2{
    transition: .2s ease-in;
    width: 15%;
    height: 40px;
    color: #0050d5;
    border: 2px solid #0050d5;
    margin-left: 20px;
}
.btn-subscribirse-nl-2:hover{
    transition: .5s ease-out;
    transform: scale(1.02);
    background-color: #0052d530;
    color:white;
}
